body {
    background-color: #aed6f1;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .logInDiv {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin: 30px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #c0392b;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .error-message:first-child {
    margin-top: 0;
  }