@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.home-page {
  text-align: center;
}

.home-main {
  background-image: url("https://tinyurl.com/ym4t5z58");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home-title,
.home-text {
  color: white;
  text-align: center;
}

.home-title {
  font-size: 7rem;
  font-weight: 800;
  padding-top: 29vh; 
}

.home-text {
  font-size: 2rem;
  padding-top: 0rem; 
}

.home-links {
  display: flex;
  justify-content: center;
  padding-top: 3rem; 
}

.home-links a {
  color: #2471A3;
  text-decoration: none;
  margin: 0 20px;
  font-size: 40px;
}

.home-links a:hover {
  color: #F4D03F;
}



