@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.home-page {
  text-align: center;
}

.home-main {
  background-image: url("https://tinyurl.com/ym4t5z58");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home-title,
.home-text {
  color: white;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-title {
  font-size: 7rem;
  font-weight: 800;
}

.home-text {
  font-size: 2rem;
  top: 58%; 
}

.home-links {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some space between text and links */
  position: absolute;
  bottom: 300px; /* Position the links at the bottom */
  width: 100%; /* Make sure the links span the full width */
}

.home-links a {
  color: #2471A3;
  text-decoration: none;
  margin: 0 20px; /* Add space between links */
  font-size: 40px;
}

.home-links a:hover {
  text-decoration: none;
  color: #F4D03F ; /* Change color on hover */
}

